@import "@89netram/snygg/src/vars";

.visual-automata {
	svg {
		.node {
			circle {
				stroke: var(--color);
				fill: none;
				stroke-width: 1px;
			}
			&.origin circle {
				stroke: none;
				fill: none;
			}
			&.accepting circle {
				stroke-width: 3px;
			}
		}
	}
}

table.automata {
	input[type="radio"] + .radio {
		margin-top: 0px;
	}

	input[type="text"] {
		width: calc(5ch + #{$distance});

		&::-webkit-calendar-picker-indicator {
			display: none;
		}
	}
	td, th {
		&.error {
			color: var(--error);
		}

		&:nth-child(n + 3) {
			&, & input {
				text-align: center;
			}
		}

		&.delete {
			cursor: pointer;
		}
	}
}