.graph {
	overflow-x: auto;

	.action-buttons {
		position: sticky;
		left: 0px;
		text-align: end;
	}

	svg {
		min-width: 100%;

		text {
			fill: var(--color);
		}

		.edgePath path {
			stroke: var(--color);
			fill: var(--color);
			stroke-width: 1.5px;
		}
	}
}