@import "@89netram/snygg/src/index";
@import "./automata";
@import "./action-buttons";
@import "./test";
@import "./readme";
@import "./header";
@import "./side-by-side";
@import "./graph";
@import "./cfg";

main a {
	color: var(--accent);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

nav {
	overflow-y: auto;

	ul li a {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
}
