@import "@89netram/snygg/src/index";
@import "./automata";
@import "./action-buttons";
@import "./test";
@import "./readme";
@import "./header";
@import "./side-by-side";
@import "./graph";

main a {
	color: var(--accent);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
