@import "@89netram/snygg/src/vars";

.readme {
	h1 {
		font-size: 2rem;
	}
	h1, h2, h3, h4 {
		padding-bottom: 0.25em;
		margin-bottom: 0.5em;
		border-bottom: 1px solid var(--border);
	}

	p {
		line-height: 1.5;
		margin-bottom: 1em;
	}

	ul {
		padding: 0px;

		li {
			padding-left: $distance * 0.5;
			list-style: none;

			ul li {
				padding-left: $distance * 1.5;
			}
		}
	}
}